@model int
@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer localizer;

@{
    ViewBag.Title = localizer["ErrorTitle"];
}

<div class="alert alert-danger mt-1 mb-1">
    <h4>@localizer["Error"]</h4>
    <hr />
    <h5>
        @localizer["YourTask"]
    </h5>
</div>

<a asp-controller="task" asp-action="" class="btn btn-outline-success"
   style="width:auto">@localizer["ListBtn"]</a>