@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center mt-3 mb-5">
    <div>
        <h1 class="display-4">WORKBOARD</h1>
    </div>
    
</div>

<div class="container mb-5">
    <div class="align-content-start">
        <h4>Menage tasks accross company.</h4>
        <span>Gain a control to fully menage tasks and processes of your company.</span>
    </div>
    <div>
        <img />
    </div>
</div>

<div class="container mb-5">
    <div class="align-content-start">
        <h4>Manage everything in one workspace</h4>
        <span>Planning, tracking and delivering your team’s best work has never been easier</span>
    </div>
    <div>
        <img />
    </div>
</div>

<div class="container mb-5">
    <div class="align-content-start">
        <h4>Visualize your work</h4>
        <span>View all the tasks in easy way</span>
    </div>
    <div>
        <img />
    </div>
</div>

<footer class="footer text-muted w-auto">
    <div class="container">
        &copy; WorkBoard @DateTime.Now.Year
    </div>
</footer>
